<app-breadcrumb [items]="[{ text: 'Lançamentos', link: '/entries' },{ text: pageTitle }]"></app-breadcrumb>

<app-page-header [page-title]="pageTitle" button-class="btn-light" button-link="/entries" button-text="<< Voltar">
</app-page-header>


<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card mb-3">
    <div class="card-header">
      Informações sobre o lançamento
    </div>

    <div class="card-body">
      <div class="form-row">
        <!-- TIPO -->
        <div class="form-group col-md-3">
          <label for="type">Tipo</label>

          <select name="type" id="type" formControlName="type" class="form-control">
            <option *ngFor="let option of typeOptions" [value]="option.value">{{option.text}}</option>
          </select>

          <app-form-field-error [form-control]="resourceForm.get('type')"></app-form-field-error>
        </div>

        <!-- CATEGORIA -->
        <div class="form-group col-md-3">
          <label for="categoryId">Categoria</label>

          <select name="categoryId" id="categoryId" formControlName="categoryId" class="form-control"
            (change)="selectCategory()">
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>

          <app-form-field-error [form-control]="resourceForm.get('categoryId')"></app-form-field-error>
        </div>

      </div>

      <div class="form-row">
        <!-- DATA -->
        <div class="form-group col-md-3">
          <label for="date">Data</label>

          <p-calendar id="date" formControlName="date" inputStyleClass="form-control" dataType="string"
            dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true"></p-calendar>

          <app-form-field-error [form-control]="resourceForm.get('date')"></app-form-field-error>
        </div>

        <!-- VALOR  -->
        <div class="form-group col-md-3">
          <label for="amount">Valor</label>

          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                R$
              </div>

              <input [imask]="imaskConfig" type="text" class="form-control text-right" id="amount"
                formControlName="amount" />
            </div>
          </div>

          <app-form-field-error [form-control]="resourceForm.get('amount')"></app-form-field-error>
        </div>
      </div>

      <div class="form-row">

        <!-- PAGO -->
        <div class="form-group col-md-3">
          <label for="paid">Situação</label>

          <div class="btn-group w-100">
            <label [class.active]="resourceForm.get('paid').value === true" class="btn btn-outline-info"
              (click)="resourceForm.get('paid').setValue(true)">
              Pago
            </label>
            <label [class.active]="resourceForm.get('paid').value === false" class="btn btn-outline-info"
              (click)="resourceForm.get('paid').setValue(false)">
              Pendente
            </label>
          </div>

          <app-form-field-error [form-control]="resourceForm.get('paid')"></app-form-field-error>
        </div>
      </div>

      <div class="form-row">
        <!-- LANÇAMENTO -->
        <div class="form-group col-md-6">
          <label for="name">Lançamento</label>
          <input type="text" class="form-control" id="name" formControlName="name" />

          <app-form-field-error [form-control]="resourceForm.get('name')"></app-form-field-error>
        </div>
      </div>

      <div class="form-row">
        <!-- DESCRIÇÃO  -->
        <div class="form-group col-md-6">
          <label for="description">Descrição</label>
          <input type="text" class="form-control" id="description" formControlName="description" />
        </div>
      </div>
    </div>
  </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary float-right">
    Salvar
  </button>
</form>
